.search__input_light-theme {
    color:#000;
    background-color: #d7e3ff;
    border-bottom: solid 2px #457af5;
}

.search__input_light-theme::placeholder {
    color: #000;
    text-align: center;
}

.search__input_light-theme:focus {
    border: solid 2px #457af5;
    outline: none;
  }