.search__input {
  border: none;
  height: 40px;
  width: 100%;
  background-color: #d7ceeb;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: ridge 2px gray;
}

.search__input::placeholder {
  text-align: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}