.search__input {
    border: none;
    height: 65px;
    width: 700px;
    background-color: rgb(218, 218, 218);
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 36px;
}
.search__input::placeholder {
    text-align: center;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}