.footer__copyright {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    width: 100%;
    height: 40px;
}

@media screen and (min-width: 619px) {
    .footer__copyright {
        font-size: 16px;
        line-height: 22px;
        height: 50px;

    }
}