.header__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 7px;
    transition: opacity 0.5s;
    transition: border 0.5s;
    transition: color 0.3s linear;
}

.header__link:hover {
    cursor: pointer;
    border-bottom: 1px solid;
    color: #457af5;
}