.search__button{
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0;
    background-color: #192849;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
    border-bottom: solid 2px rgb(5, 153, 190);
    transition: background-color 0.3s linear;
}

.search__button:hover {
    opacity: 0.7;
}