.search__submit {
    background-image: url(../../../images/search.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    /* background-color: rgb(218, 218, 218); */
    background-color: #d7ceeb;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    border: ridge 2px gray;
    background-position: center center;
}

.search__submit:hover {
    opacity: 0.7;
}