.button-theme {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #192849;
    display: flex;
	width: 40px;
	height: 20px;
	border-radius: 99em;
	transform-origin: 50% 50%;
	cursor: pointer;
    transition: transform .3s linear;
}

.button-theme::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(5, 153, 190);
    border-radius: 50%;
    top: 0px;
    left: 0px;
    transition: transform .3s linear;
}