.search__reset {
    background-image: url(../../../images/reset.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0;
    background-color: #d7ceeb;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: ridge 2px gray;
}

.search__reset:hover {
    opacity: 0.7;
}