.search__reset {
    background-image: url(../../../images/resetW.svg);
    min-width: 40px;
    min-height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0;
    background-color: #192849;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
    border-bottom: solid 2px rgb(5, 153, 190);
}

.search__reset:hover {
    opacity: 0.7;
}