.header__navbar {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: flex-end;
    transition: color 0.3s linear;
}

@media screen and (min-width: 619px) {
    .header__navbar {
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        gap: 24px;
    }
}