@import url(./blocks/search/search.css);
@import url(./blocks/search/__form/search__form.css);
@import url(./blocks/search/__input/search__input.css);
@import url(./blocks/search/__submit/search__submit.css);
@import url(./blocks/search/__reset/search__reset.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
