.pagination__page {
    list-style-type: none;
    margin-right: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s linear;
    /* border: solid 2px;
    padding: 5px;
    border-radius: 5px; */
}
.pagination__page:hover {
    border-bottom: 1px solid;
    color: #a393eb;
}